/Q/Framework/FFmpeg/FFmpeg.framework/FFmpeg filter=lfs diff=lfs merge=lfs -text
/Q/Framework/Chronos/Chronos.framework/Chronos filter=lfs diff=lfs merge=lfs -text
/Q/Framework/VLC/MobileVLCKit.framework/MobileVLCKit filter=lfs diff=lfs merge=lfs -text
